html{
  font-family: Helvetica;
  color:white;
  font-size: 18px;
  line-height: 1,4;
}

/*page's container*/
.container{
  width: 960px;
  margin:auto;
}

/*backgrounded section*/
.main{
  background-image: url('../images/glassesbg.png');
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

/*header section*/
.header{
  padding: 1rem 0rem 1rem 2rem;
  background-color: cadetblue;
  margin: auto;
  display:flex;
  justify-content: space-between;
}

/*logo + paragraph*/
.logo{
  display: inline-flex;
  align-items: center;
}

.logo img{
  max-height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

/*navbar section within header*/
.navbar{
  display:inline-flex;
  align-items: center;
}

.navbar p{
  display: hidden;
}

.navbar a{
  text-decoration: none;
  color: white;
  margin-right:2rem;
}

.navbar li{
  display: inline;
}

/*White 'dont look' banner*/
.whitebanner{
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color:gray;
  background-color: white;
  width:auto;
  display:inline-flex;
  float:right;
  position:relative;
  right: -2rem;
  z-index: 3;
}

/*icons + paragraphs section (services)*/
.services{
  display: flex;
  height:8rem;
  color: gray;
  min-width:100%;
  justify-content: center;
  text-align: center;
}


.exams img{
  max-width: 3.5rem;
  height: auto;
  margin:0 auto; /*centers the ruler icon within .exams*/
}

.fittings img,
.delivery img{
  max-width: 5rem;
  height: auto;
}

.exams,
.fittings,
.delivery{
  min-height: 8rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 3rem 3rem 3rem;
}

.fittings,
.delivery{
  vertical-align: top; /*pulls up .fittins and .delivery to same level as
  .exams img is*/
}

/*philosophy and appointments squares*/
.banners{
  margin-top: 3rem;
  background-color:white;
  text-align: center;
  display:flex;
  justify-content: flex-start;
}

.philosophy,
.appointments{
  display:inline-flex;
  width: 35%;
  flex-direction: column;
  text-align: left;
}

.banners p{
  color:grey;
}

.appointments p {
  margin-left:5%;
}

#square{
  width: 10rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 0.5rem;
}

/*footer section*/
.footer{
  display:flex;
  background-color: azure;
  color: grey;
  margin-top: 5rem;
}

.footer img,
.footer p{
  display: inline-flex;
}

.footer img{
  height: 1.5rem;
  width: auto;
  margin: 4rem 1rem 4rem 4rem;
}

.footer p{
  align-items: center;
}


/*MEDIA QUERIES*/

/*Tablet - portrait*/
@media only screen and (max-width: 768px){
  .container{
    width: 100%;
  }

  .main{
    padding-top:0;
    height: 22rem;
    background-position: 40% 0;
  }

  .whitebanner{
    font-size: 1.33rem;
    margin-top: 5rem;
    padding: 0.75rem 4rem 0.75rem 4rem;
    margin-right: 4rem;
  }
}

/*Mobile*/
@media only screen and (max-width: 480px){

 .logo p{
  display: none;
 }

 .navbar li{
   display: none;
 }

 .navbar p{
   display: inline-block;
 }

 .main{
   height: 17rem;
   background-position: 30% 0%;
   margin-bottom: 0;
 }

 .whitebanner{
   width: 100%;
   font-size: 1rem;
   margin: 9rem 2rem 0 0;
   padding: 1rem 0;
   justify-content: center;
 }


.services{
  font-size: 0.77rem;
  flex-direction: column;
  height: auto; /*fixing banners appearing on the top of services*/
  padding: 3.77rem 0;

}

.services img,
.exams,
.delivery{
  margin: 0 auto;
}

.exams,
.delivery,
.fittings{
  min-width: 100%;
}

.fittings{
 margin: 1.54rem auto;
}

.banners{
  display: block;
  min-width: 100%;
  margin-top: 0;
}

.philosophy,
.appointments{
  min-width: 100%;
  display: flex;
  justify-content: center;
}

#square{
  min-width: 100%;
  margin: 0 0 1rem 0;
}

.banners p{
  margin:0 0 4rem 0;
}

}
